<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-deezer-player" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>cordova-plagin-deezer-player</name><js-module name="cordova-plagin-deezer-player" src="www/cordova-plagin-deezer-player.js"><clobbers target="cordova.plugins.cordova-plagin-deezer-player" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="cordova-plagin-deezer-player"><param name="android-package" value="cordova-plugin-deezer-player.cordova-plagin-deezer-player" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/cordova-plagin-deezer-player.java" target-dir="src/cordova-plugin-deezer-player/cordova-plagin-deezer-player" /></platform></plugin>